###
#Delete these lines before adding the file to github
###

LOC=""
CSI_TAG="latest"
DEFAULT_IMAGE_NAME="cte_csi"

# These values must match the values in the node server and controller yaml files
DEFAULT_SERVER="gitlabent.thalesesec.com:5050"
DEFAULT_LOC="agents/core-dev/cte-k8-builder"

###
#Delete these lines before adding the file to github
###

USER=""
PASSWD=""
SERVER=""

CSI_DEPLOYMENT_NAME="cte-csi-deployment"
CRISOCK=""
DEPLOY_NAMESPACE="kube-system"
DEPLOY_FILE_DIR=deploy

IMAGE_PULL_SECRET="cte-csi-image-pull-secret"

# Default namespaces for operator deployment
OPERATOR=NO
OPR_NS_ARG=0
CSI_NS_ARG=0
OPERATOR_NS="kube-system"
CSI_NS="kube-system"

